.fw-700 {
    font-weight: 700;
}

.letter-spacing-3 {
    letter-spacing: -.03em;
}

.LandingPageReview__gray {
    background: #f3f4f5 !important;
    padding: 10px 30px;
    border-radius: 24px;
    margin: 10px;
}

.img-avt-cmt img {
    border-radius: 50%;
}

.fs-16 {
    font-size: 16px;
}

.color-elm {
    color: #6c757d !important;
    margin-top: .5rem;
}