.fw-700 {
    font-weight: 700;
}

.fs-24 {
    font-size: 24px;
}

.letter-spacing-3 {
    letter-spacing: -.03em;
}

.btn__search {
    margin: 0 auto;
}

.input-group-text {
    background: #fff;
}

/* ============================================== */
.btn__city {
    padding-left: 16px;
    padding-right: 16px;
    background: #e9ecef;
    color: #6c757d;
    font-weight: 700;
}

.btn__city:hover {
    background-color: #dee2e6;
    border-color: #dee2e6;
    color: #6c757d;
}

.Button__light-gray {
    background-color: #e9ecef;
    border-color: #e9ecef;
    border-width: 1px;
}

.Button__md {
    border-radius: 20px;
    height: 32px;
    min-width: 32px;
    padding: 7px 16px;
}