.fs-12 {
    font-size: 12px;
}

.fs-24 {
    font-size: 24px;
}

.fs-18 {
    font-size: 18px;
}

.fw-700 {
    font-weight: 700;
}

.h-40 {
    height: 40px;
}

.bg__Planon {
    background: #ebedfc;
    margin-top: 100px;
}

.telephone__img__planon img {
    margin-top: -100px;
}

.content__text__planon {
    margin-left: 150px;
    padding: 45px 27px 0px
}

.hover__text__planon:hover {
    color: #1828a4;
    text-decoration: underline;
}

@media screen and (max-width: 1024px) {
    .telephone__img__planon img {
        margin-top: 0px;
        padding: 0px 0px;
    }
    .content__text__planon {
        margin-left: 0px;
        padding: 0px 0px 0px
    }
    .bg__Planon {
        padding-top: 30px;
    }
}