#landinginner {
    background-color: #f3f4f5;
    padding: 48px 0px;
}

.content-title-landing {
    font-weight: 700;
    color: #212529;
    font-size: 24px;
    letter-spacing: -.03em;
}

.text-muted {
    font-size: 15px;
    color: #6c757d !important;
    text-align: center;
}

.destination:hover {
    color: #1828a4;
    text-decoration: underline;
}

.planner {
    font-weight: 700;
    line-height: 1;
    font-size: 22px;
    letter-spacing: -.03em;
    text-align: center;
}

.line-landing {
    border-bottom: 1px solid #e9ecef;
}

@media screen and (max-width: 426px) {
    .reponsive__landing {
        margin-top: 20px;
    }
}